<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间作用就是 隔离 唯一  对sql进行分类化管理 理解sql隔离
    注意：如果使用mapper代理的方法开发的化 这里的namespace有特殊重要的作用的
     -->
<mapper namespace="com.hrbu.mapper.register.RegisterMapper">
    <insert id="register" parameterType="com.hrbu.domain.User">
        insert into t_user (userId,userName,password, telephone,createTime)
        values (#{userId}, #{userName}, #{password},#{telephone}, #{createTime})
    </insert>

    <select id="verifyPhone" parameterType="java.lang.String" resultType="com.hrbu.domain.User">
        select * from t_user where telephone = #{telephone}
    </select>
</mapper>